<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs'); %>
</head>
<header>
    <%- include('../partials/header.ejs'); %>
</header>
<body>
<h1> series list</h1>
<main style="text-align: center">
    <form action="/series/update" method="post">
        <label for="nom">Serie's name:</label>
        <br>
        <input type="text" id="nom" name="nom" value="<%= serie.nom %>">
        <br>
        <br>
        <label for="estat">estat:</label>
        <br>
        <p>Estat actual: <%= serie.estat %></p>
        <select id="estat" name="estat">
            <% if (serie.estat === 'enEmisio'){ %>
                <option value="enEmisio" selected>En Emisio</option>
                <option value="finalitzat">Finalitzat</option>
            <% } else { %>
                <option value="finalitzat" selected>Finalitzat</option>
                <option value="enEmisio">En Emisio</option>
            <% } %>
        </select>
        <br>
        <br>
        <label for="imatge">Imatge:</label>
        <br>
        <input type="text" id="imatge" name="imatge" value="<%= serie.imatge %>">
        <br>
        <br>
        <label for="idioma">Idioma:</label>
        <br>
        <input type="text" id="idioma" name="idioma" value="<%= serie.idioma %>">
        <br>
        <br>
        <label for="enllac">Enllac:</label>
        <br>
        <input type="text" id="enllac" name="enllac" value="<%= serie.enllac %>">
        <br>
        <br>
        <label for="descripcio">Descripcio:</label>
        <br>
        <textarea id="descripcio" name="descripcio"><%= serie.descripcio %></textarea>
        <br>
        <br>
        <input type="hidden" name="id" value="<%= serie._id %>">
        <input type="submit" value="Submit">
    </form>
</main>
</body>
</html>